<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>Crypto Mobile Template</title>
    <!-- Google font file. If you want you can change. -->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900"
            rel="stylesheet"
    />
    <!-- Fontawesome font file css -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <!-- Template global css file. Requared all pages -->
    <link rel="stylesheet" type="text/css" href="css/global.style.css" />
</head>
<body>
<div class="wrapper">
    <div class="nav-menu">
        <nav class="menu">
            <!-- Menu navigation start -->
            <div class="nav-container">
                <ul class="main-menu">
                    <li class="">
                        <a href="index.html"><img src="img/content/icons/1.png" alt=""><strong>Dashboard</strong> </a>
                    </li>
                    <li class="">
                        <a href="setting.html"><img src="img/content/icons/11.png" alt=""><strong>Settings</strong> </a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0);"><img src="img/content/icons/9.png" alt=""><strong>Login/Register</strong> <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li class="active"><a href="login.html" data-loader="show">Login</a></li>
                            <li><a href="signup.html" data-loader="show">Register</a></li>
                            <li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><img src="img/content/icons/15.png" alt=""><strong> Pages</strong> <span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="profile.html" data-loader="show">User Profile</a></li>
                            <li><a href="search-result.html" data-loader="show">Search Results</a></li>
                            <li><a href="contact.html" data-loader="show">Contact</a></li>
                            <li><a href="blank.html" data-loader="show">Blank Page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Menu navigation end -->
        </nav>
    </div>
    <div class="wrapper-inline">
        <!-- Header area start -->
        <header>
            <!-- extra class no-background -->
            <a class="go-back-link" href="javascript:history.back();"
            ><i class="fa fa-arrow-left"></i
                ></a>
            <h1 class="page-title">SIGN UP</h1>
            <div class="navi-menu-button">
                <em></em>
                <em></em>
                <em></em>
            </div>
        </header>
        <!-- Header area end -->

        <main>
            <div class="container">
                <div class="form-divider"></div>
                <div class="form-label-divider"><span>비밀번호찾기</span></div>
                <div class="form-divider"></div>


                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input
                                type="text"
                                id="userEmail"
                                class="form-element"
                                placeholder="Email"
                                value=""
                        />
                    </div>
                    <div class="form-row no-padding">
                        <div id="hiddenThings" style="display: none">
                            <i class="fa fa-check"></i>

                            <input
                                    type="text"
                                    id="emailCode"
                                    class="form-element"
                                    placeholder="emailCode"
                                    value=""
                            />
                            <button
                                    type="button"
                                    id="verifyBtn"
                                    class="button circle block orange"
                                    style="width: 70px"
                            >OK
                            </button>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="form-divider"></div>
                <div class="form-row">
                    <button
                            type="button"
                            id="authBtn"
                            class="button circle block orange"
                    >
                        이메일 인증받기
                    </button>
                </div>
                <br/>
<!--                <div class="form-row">-->

<!--                    <button-->
<!--                            type="button"-->
<!--                            id="signupBtn"-->
<!--                            class="button circle block orange"-->
<!--                    >-->
<!--                        뒤로가기-->
<!--                    </button>-->
<!--                </div>-->
                <div class="form-row txt-center mt-15">
                    Already have an account?
                    <a href="/signin" data-loader="show">Login</a>
                </div>
            </div>
        </main>
        <!-- Page content end -->
    </div>
</div>
<!--Page loader DOM Elements. Requared all pages-->
<div class="sweet-loader">
    <div class="box">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
</div>
<!-- JQuery library file. requared all pages -->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- Template global script file. requared all pages -->
<script src="js/global.script.js"></script>
<script>

    //얘네를 은닉할 수 있는 방법이 있을까?
    var verifiedemail=0;
    var verifycode=0;
    // var userEmail=localStorage.getItem('getEmail');

    $("#authBtn").click(function () {

        var userEmail=$("#userEmail").val()

        if(userEmail.length==0){alert('이메일을 입력해주세요')}
       else {
            $("#hiddenThings").css("display", "inline");
            //redis에 데이터 저장

            $.ajax({
                url: "http://localhost:10010/verifyemail",
                type: "POST",
                data: {
                    userEmail: userEmail,
                },
                success: function (data) {
                    console.log(data)
                    if (data === "0") {
                        alert('메일주소를 확인해주세요')
                    } else {
                        alert('메일이 전송되었습니다.')
                        console.log(data)
                        // alert(data)
                        verifycode = data;

                    }
                }, error: function (error) {
                    console.log(error)
                }
            });
            // alert("메일이 전송되었습니다.");

        }
    });


    $("#verifyBtn").click(function () {
        //to mailserver
        //수신한 코드와 일치하는지 확인하는 코드
        var userEmail=$("#userEmail").val()
        var emailCode=$("#emailCode").val();

        if (verifycode===emailCode){
            $("#emailCode").prop('readonly',true)
                //비밀번호 찾기구현!!!!

            $.ajax({
                url: "/findpassword",
                type: "POST",
                data: {
                    userEmail: userEmail,
                },
                success: function (data) {
                    if(data==1) {
                        alert("인증되었습니다.")
                        localStorage.setItem('changePasswordUser',userEmail);
                        window.location.href='/refactorpassword'
                    }else{
                        alert("존재하지않는 회원입니다!")
                    }

                }, error: function (error) {
                    console.log(error)
                }
            });



            //회원관리 페이지?
        }else{
            alert("인증코드가 다릅니다.")
        }

    });


</script>
</body>
</html>